<h1><%= @scientist.name %></h1>
<p>Specialty: <%= @scientist.specialty %></p>
<p>Education: <%= @scientist.university %></p>
<p>Education: <%= @scientist.university %></p>
<p>Laboratory: <%= @scientist.lab.name %></p>

<h3>Current Experiments:</h3>

<% @experiments.each do |experiment| %>

  <li><%= experiment.name %> <%= button_to "Remove #{experiment.name}", scientist_scientists_experiment_path(@scientist.id, experiment.id), method: :delete %></li>
<% end %>